.Jose{
    width: 100%;
    background: #41434d;
}

.custom-img {
    margin: 30px 0 10px 10px;
      width: 85vh;
      height: 400px;
      object-fit: cover;
    }
    .card-container{
      text-align: center;
      margin: 30px 0 50px 40px;
    }
      